body{
    text-align: center;
}
li{
    display: inline;
    padding: 20px;
}
header{
    background-color: rgb(144, 210, 102);
    padding: 20px;
}
.p1{
    font-style: oblique;
}
img{
    border-radius: 600px;
}
.p2{
    background-color: rgb(255, 114, 225);
}
.p3{
    background-color: rgb(0, 0, 0);
    color: rgb(237, 235, 227);
}
.p4{
    background-color: rgb(212, 13, 202);
}
.p5{
    padding-top: 10px;
}